
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">Sign Out</a>
     <!-- <a class="navbar-brand navbar-left" href="#">Interview</a> -->
      <a class="navbar-brand"  
      href="https://juk6e3zcufvi7iobyfxchq.on.drv.tw/y2kcareer/">Final touch</a>
     <!-- <a class="navbar-brand"  href="https://interviews-4p6.pages.dev/login">interviewcache</a> -->
      <a class="navbar-brand" class="navbar-brand"  href="/welcome">All Concepts</a>
        <a href="https://computerrepairs.pages.dev/search"> Search
        </a>

    </div>
    </div>
</nav>

