<div id="htmlContent">
    <select class="category-dropdown" [(ngModel)]="selectedQuestion">
      <option value="apachekafka">apachekafka</option>
      <option value="reactjs">reactjs</option>

    </select>
    <div (click)="toggleAnswer('reactjs')">
      <strong *ngIf="selectedQuestion === 'reactjs'">reactjs</strong>
    </div>
    <div *ngIf="showAnswer['reactjs'] && selectedQuestion === 'reactjs'">
      <pre>
        <pre [innerHTML]="codeSnippets['reactjs']"></pre>
      </pre>
    </div>
    <!-- about threads end -->
    <div (click)="toggleAnswer('apachekafka')">
      <strong *ngIf="selectedQuestion === 'apachekafka'">apachekafka</strong>
    </div>
    <div *ngIf="showAnswer['apachekafka'] && selectedQuestion === 'apachekafka'">
      <pre [innerHTML]="codeSnippets['apachekafka']"></pre>
    </div>
    <div (click)="toggleAnswer('kubernate')">
      <strong *ngIf="selectedQuestion === 'kubernate'">kubernate</strong>
    </div>
    <div *ngIf="showAnswer['kubernate'] && selectedQuestion === 'kubernate'">
      <pre [innerHTML]="codeSnippets['kubernate']"></pre>
    </div>

<!-- corejava end -->
  </div>
  