<app-navbar></app-navbar>
<nav id="sidebar" class="bg-light">
    <div class="sidebar-header">
        <ul>
            <li>
                <a routerLink="/corejava"
                    routerLinkActive="active">corejava(polymorphism,java8,collection,exceptions,stringclass)
                </a>
            </li>
            <li>
                <a routerLink="/spring" routerLinkActive="active">Spring and Hibernate
                </a>
            </li>
            <li>
                <a routerLink="/tek"
                    routerLinkActive="active">
                  Apachekafka and Reactjs

                </a>
            </li>
            <li>
                <a href="https://computerrepairs.pages.dev/readwordfiles"> Oauth2&Threads&Executors&Aws&Kubernates&Docker&java11
                    &SpringBatch
                </a>
            </li>
            <li>
                <a routerLink="/kubernate" routerLinkActive="active">kubernates
                </a>
            </li>
            <li>
                <a routerLink="/springboot" routerLinkActive="active">Springboot and Security

                </a>
            </li>
            <li>
                <a routerLink="/angular" routerLinkActive="active">Angular</a>
            </li>
            <li>
                <a routerLink="/sql" routerLinkActive="active">Sql queries</a>
            </li>

            <li>
                <a routerLink="/microservices" routerLinkActive="active">Microservices</a>
            </li>

            <li>
                <a routerLink="/logical" routerLinkActive="active">Logical Programmes</a>
            </li>
        </ul>
    </div>
</nav>